body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121216;
}

.titulocard{
    font-size: 35px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    align-items: center;
    font-size: 100%;
}
.a2{
    text-decoration:underline;
    color: rgb(194, 182, 182);
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

.prueba{
    background-color: #121216;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 14px;
}
.prueba:hover {
    background-color: #272730;
    color: white;
}

.iniciar {
    background-color: #121216;
    padding: 12px 17px;
    border-radius: 20px;
    border: 1px solid gray;
    font-size: 14px;
}

.registrar {
    background-color: #ef5466;
    padding: 12px 17px;
    border-radius: 20px;
    font-size: 14px;
    margin-left: 10px;
}

header {
    display: flex;
    min-height: 80px;
    background-color: #121216;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray
}

.logo {
    display: flex;
    align-items: center;
    padding: 25px 60px;
}

.logo img {
    height: 26px;
    margin-right: 14px;
}

nav {
    margin-right: 75px;
}

nav a {
    font-weight: 600;
    padding-right: 20px;
}

nav a:hover {
    color: #ef5466;
}

.registrar:hover {
    background-color: #ad2c3b;
    color: white;
}

.iniciar:hover {
    background-color: #272730;
    color: white;
}

@media (min-width:700px) {
    header {
        flex-direction: row;
    }

    nav {
        padding: 10px 0px;
    }
}


.container {
    display: flex;
    justify-content: center;
}

.d1 {
    background-color: #222229;
    height: 75px;
    width: 560px;
    border-radius: 10px;
    display: flex;
}

.d1 img {
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
}

.h3 {
    color: white;
    font-size: 110%;
    margin-left: 25px;
}

.a1 {
    color: gray;
    font-size: 80%;
}

.cards{
    display:grid;
    place-content: center;
}

.card1{
    background: rgb(9,255,188);
    background: linear-gradient(135deg, rgba(9,255,188,1) 0%, rgba(0,196,255,1) 49%, rgba(169,0,255,1) 100%);
    padding: 10px;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    color: white;
}
.card2{
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    display: flex;
}
.card2 p{
    padding: 1px 3px;
    margin-left: 205px;
}
.descuento{
    background: rgb(98,238,210);
    background: linear-gradient(90deg, rgba(98,238,210,1) 0%, rgba(76,114,219,1) 35%, rgba(153,44,232,1) 100%);
    border-radius: 10px;
    width: 45px;
}
.descuento2{
    background: rgb(255,234,9);
    background: linear-gradient(135deg, rgba(255,234,9,1) 0%, rgba(255,79,0,1) 49%, rgba(255,0,166,1) 100%);
    border-radius: 10px;
    width: 45px;
}
.card3{
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    display: flex;
}
.card3 p{
    padding: 1px 3px;
    margin-left: 170px;
}
.card4{
    background: rgb(255,234,9);
    background: linear-gradient(135deg, rgba(255,234,9,1) 0%, rgba(255,79,0,1) 49%, rgba(255,0,166,1) 100%);
    padding: 10px;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    color: white;
}
.card5{
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    display: flex;
}
.card5 p{
    padding: 1px 3px;
    margin-left: 200px;
}
.card6{
    background: rgb(82,82,91);
    background: linear-gradient(0deg, rgba(82,82,91,1) 0%, rgba(18,19,24,1) 100%);
    padding: 10px;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    color: white;
    display: table-column;
}
.card6 img{
    width: 30px;
}
.card7{
    background: rgb(60,60,65);
    background: linear-gradient(0deg, rgba(60,60,65,1) 14%, rgba(33,33,37,1) 50%);
    padding: 10px;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    color: white;
    display: table-column;
}
.a3{
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.card7 img{
    width: 300px;
}
.a4{
    display:grid;
    place-content: center;
    color: rgb(207, 202, 202);
    text-align: center;
    font-size: 13px;
    border-bottom: 1px solid gray;
}
.descargar{
    display: flex;
    place-content: center;
}
.descargar img{
    width: 350px;
}

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.containerfooter{
    max-width: 1600px;
    margin: 0 auto;
}

.footer{
    padding: 80px 0;
    font-size: 15px;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 20%;
    padding: 0 15px;
}
.agray{
    color: gray;
}
.footer-links ul li a{
    display: block;
    margin-bottom: 25px;
}